.background {
    background-color: #2B3E50;
}

.navbar {
    background-color: orange;
}

.container {
    color: white;
}

.row{
    text-align: center;
}

img {
    max-width: 100%;
}

table {
    max-width: 100%;
}

body {
    padding: 0;
    margin: 10;
    text-align: center;
  }
  
  #map,
  body,
  html {
    height: 100%;
  }
  
  .legend {
    line-height: 18px;
    color: #555;
  }
  .legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }
  
  .info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
  }
  .info h4 {
    margin: 0 0 5px;
    color: #777;
  }


/* SKIPPP! */
  body
{
    /* background: #cfd8dc; */
}

.card-container
{
    /* font-family: 'Open Sans', sans serif; */
    /* font-size: 120px;
    font-weight: bold; */

    width: 500px;
    height: 350px;
    margin: 80px auto;

    border-radius: 10px;

    perspective: 1400px;
}

.card
{
    position: relative;

    height: 100%;

    border-radius: 10px;

    width: 100%;
    transform-style: preserve-3d;
}

.front,
.back
{
    display: flex;

    width: 100%;
    height: 100%;

    border-radius: 10px;

    justify-content: center;
    align-items: center;
}

.front
{
    /* color: #fff;
    background: #2196f3; */
}

.back
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    transform: rotateY(180deg);

    /* color: #2196f3; 
    background: #fff; */
}